body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: #fff9f9;
  color: #333;
}

header {
  text-align: center;
  background: linear-gradient(135deg,#ff85a1, #ffe4ec);
  padding: 20px;
  border-bottom: 3px solid #ff85a1;
}

nav {
  margin-top: 10px;
}

.filter-btn {
  background: white;
  border: 2px solid #ff85a1;
  color: #ff3f6c;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  margin: 5px;
  transition: 0.3s;
}

.filter-btn:hover {
  background: #ff85a1;
  color: white;
}

.catalogo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  padding: 40px;
  max-width: 1300px;
  margin: auto;
}

.card {
  border: 3px solid #ff3f6c;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 7px;
}

.card h3 {
  text-align: center;
  color: #ff3f6c;
  padding: 10px;
}

.modal-detalhes {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.detalhes-content {
  background: #fff;
  width: 90%;
  max-width: 850px;
  border-radius: 15px;
  display: flex;
  gap: 20px;
  padding: 20px;
}

.detalhes-img {
  width: 50%;
  border-radius: 10px;
  object-fit: cover;
}

.detalhes-texto {
  width: 50%;
}

.detalhes-texto h2 {
  color: #ff3f6c;
}

.btn-whatsapp {
  display: inline-block;
  background: #ff3f6c;
  color: white;
  padding: 10px 16px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
}

.btn-whatsapp:hover {
  background: #ff85a1;
}

.fechar-detalhes {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 30px;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

#formulario-cadastro label {
  margin-top: 10px;
  color: #555;
  font-weight: bold;
}

#formulario-cadastro input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#formulario-cadastro input[type="submit"] {
  background-color: #d467c4;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: none;
  transition: 0.3s;
}

#formulario-cadastro input[type="submit"]:hover {
  background-color: #970272;
}

footer {
  background: linear-gradient(135deg, #ff85a1, #ffe4ec);
  padding: 25px;
  text-align: center;
  margin-top: 40px;

  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: rgb(0, 0, 0);

  box-shadow: 0px -4px 15px rgba(255, 50, 100, 0.4);
}

footer p {
  margin: 10px 0;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 0 0 6px rgba(255,255,255,0.5);
}

footer a {
  color: #000000;
  font-size: 22px;
  font-weight: 900;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 10px;

  transition: 0.3s;
}

footer a:hover {
  background: white;
  color: #ff3f6c;
  box-shadow: 0 0 10px white;
}

.modal.ativo ~ footer {
  display: none;
}